config.php
secrets/

# Ignore log files and backups
*.log
*.bak
*.bak[0-9]*
*.swp

# Ignore active databases and caches (Git is bad at tracking these)
*.db
*.db-shm
*.db-wal
*.sqlite
*.torrent
*.fastresume

# Ignore application runtime and data folders
**/etc-pihole/
**/qbittorrent/config/
**/InfraWatch/beszel_agent_data/
**/InfraWatch/beszel_data/
**/InfraWatch/beszel_socket/
**/pihole/etc-pihole/
**/qbittorrent/config/
**/BT_backup/
